.visitedButton {
  background: none;
  border: none;
  left: 0;
  width: 120px;
}

.emojiButton:focus {
  outline: none;
}

.heartButton {
  background: none;
  border: none;
  width: 120px;
}

.emojiButton:focus {
  outline: none;
}
