.visitedButton {
  float: left;
  background: none;
  border: none;
  left: 0;
  width: 120px;
}

.emojiButton:focus {
  outline: none;
}
.heartButton {
  float: right;
  background: none;
  border: none;
  width: 120px;
}
